
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

*.env

vendor/
go.work


*.log
tmp/
logs/

.env
.ENV
config.yaml
secrets/
cmd/.env
cmd/.ENV

.cache_ggshield/
*:Zone.Identifier

.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
.directory
*~
